@model IEnumerable<PhoneShop.Data.Entities.Manufacturer>

@{
    ViewData["Title"] = "Nhà Sản Xuất";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewData["Title"]</h1>

<!-- DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <a class="btn btn-success" asp-action="Create">Create New</a>
            </div>
            <div class="col-md-6 col-xs-12">
                <form asp-action="Index" method="get">
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                        </div>
                        <div class="cold-md-3">
                            <button type="submit" class="btn btn-primary">Search</button>
                            <button type="button" onclick="window.location.href='/Product/Index'" class="btn btn-dark">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MEmail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MPhone)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MPhone)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.MId" class="btn btn-info btn-icon-split btn-block">
                                    
                                    <span class="text">Details</span>
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.MId" class="btn btn-warning btn-icon-split btn-block">
                                    
                                    <span class="text">Edit</span>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.MId" class="btn btn-danger btn-icon-split btn-block">
                                    
                                    <span class="text">Delete</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
