@model PhoneShop.Data.Entities.OrderDetail

@{
    ViewData["Title"] = "Xóa Sản Phẩm Trong Đơn Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="font-weight-bold">@ViewData["Title"]</h1>


<h3>Bạn có chắc chắn muốn xóa sản phẩm này không này không ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ODQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ODQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ODPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ODPrice)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OId" name="orderID"/>
        <input type="hidden" asp-for="PId" name="productID"/>
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay Trở Lại Danh Sách</a>
    </form>
</div>
