@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@*@model IEnumerable<PhoneShop.Data.Entities.Order>
*@
@model IPagedList<PhoneShop.Data.Entities.Order>
@{
    ViewData["Title"] = "Quản Lý Đơn Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Page Heading -->
<h1 class="mb-4 font-weight-bold text-center">@ViewData["Title"]</h1>

<!-- DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <a class="btn btn-success" asp-action="Create">Thêm Mới</a>
            </div>
            <div class="col-md-6 col-xs-12">
                <form asp-action="Index" method="get">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                        </div>
                        <div class="cold-md-4">
                            <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
                            <button type="button" onclick="window.location.href='/Order/Index'" class="btn btn-dark">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center align-middle">
                            ID
                        </th>
                        <th class="text-center align-middle">
                            Tên Khách Hàng
                        </th>
                        <th class="text-center align-middle">
                            Ngày Mua
                        </th>
                        <th class="text-center align-middle">
                            Cách Thức Mua
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center align-middle">
                                @Html.DisplayFor(modelItem => item.OId)
                            </td>
                            <td class="text-center align-middle">
                                @Html.DisplayFor(modelItem => item.Customer.CusName)
                            </td>
                            <td class="text-center align-middle">
                                @Html.DisplayFor(modelItem => item.ODate)
                            </td>
                            <td class="text-center align-middle">
                                @Html.DisplayFor(modelItem => item.OStatus)
                            </td>

                            <td class="text-center align-middle">
                                <a asp-action="Index" asp-controller="OrderDetail" asp-route-orderID="@item.OId" class="btn btn-info btn-icon-split btn-block" name="orderID">
                                    
                                    <span class="text">Chi Tiết</span>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.OId" class="btn btn-danger btn-icon-split btn-block">
                                   
                                    <span class="text">Xóa</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <div class="d-flex mx-auto">
                <ul class="pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { LiElementClasses = new[] { "page-item" }, PageClasses = new[] { "page-link" }, UlElementClasses = new[] { "pagination" } })
                </ul>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="text-muted d-flex mx-auto">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            </div>
        </div>
    </div>
</div>





