@model PhoneShop.Data.Entities.Category

@{
    ViewData["Title"] = "Xóa Danh Mục Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="font-weight-bold">@ViewData["Title"]</h1>


<h3>Bạn có chắc chắn muốn xóa danh mục sản phẩm này không ?</h3>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CSortOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CSortOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CParentId)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay Trở Lại Danh Sách</a>
    </form>
</div>
