@model PhoneShop.Data.Entities.Category

@{
    ViewData["Title"] = "Thông Tin Danh Mục Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="font-weight-bold">@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CSortOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CSortOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CParentId)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CId">Chỉnh Sửa</a> |
    <a asp-action="Index">Quay Trở Lại Danh Sách</a>
</div>
