@model PhoneShop.Data.Entities.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PStorage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PStorage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PScreenSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PScreenSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PResolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PResolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.POperatingSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.POperatingSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PCamera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PBatteryCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PBatteryCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PConnectivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PConnectivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PDimension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PDimension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.POriginalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.POriginalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.MName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
