@model PhoneShop.Data.Entities.ProductInCategory

@{
    ViewData["Title"] = "Xóa Liên Kiết Giữa Sản Phẩm Và Danh Mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="font-weight-bold">@ViewData["Title"]</h1>


<h3>Bạn có chắc chắn muốn Xóa Liên Kiết Giữa Sản Phẩm Và Danh Mục này không ?</h3>
<div>
    <h4>ProductInCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.PBatteryCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CName)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="PId" />
        <input type="hidden" asp-for="CId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay Trở Lại Danh Sách</a>
    </form>
</div>
