@model IEnumerable<PhoneShop.Data.Entities.ProductInCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-center align-middle">
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th class="text-center align-middle">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center align-middle">
                @Html.DisplayFor(modelItem => item.Product.PId)
            </td>
            <td class="text-center align-middle">
                @Html.DisplayFor(modelItem => item.Category.CId)
            </td>
            <td class="text-center align-middle">
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
