@model PhoneShop.Data.Entities.Customer

@{
    ViewData["Title"] = "Thông tin Khách Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="font-weight-bold">@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CusId">Sửa</a> |
    <a asp-action="Index">Quay Trở Lại Danh Sách</a>
</div>
